
\.idea/

\.vscode/

cobmo\.egg-info/

*/__pycache__/

*.sqlite

*.sqlite-journal

*.pyc

*.DS_Store

cobmo/default\.html

docs/_build/

cobmo/delete_me_storage/

cobmo/delete_me/

cobmo/figs/

cobmo/cobmo results/

cobmo/try_outs\.py

cobmo/results/

cobmo/extras/

data/storage_data/graphs

data/electricity_prices_data/graphs/

data/electricity_prices_data/various options for prices/
